body {
    /* Box-model */
    padding: 0;
  
    /* Positioning */
    margin: 25px 40px 25px 40px;
    /* font-family: Georgia, "Times New Roman", Times, serif; */
  
    /* Typography */
    font-size: 18px;
    line-height: 150%;
    color: whitesmoke;
  
    /* Visual */
    background: black;
  }
  
  header {
    background: #d21034;
  }
  
  h1 {
    /* Box-model */
    padding: 20px 0;
    font-family: 'Fredericka the Great', fantasy, Times;
  
    /* Positioning */
    margin: 15px;
    margin-bottom: 20px;
    font-size: 36px;
  
    /* Typography */
    color: rgb(22, 17, 10);
    text-align: center;
  
    /* Visual */
    background: rgb(199, 105, 17);
  }

  .container{
      width: 768px;
      margin-left: 100px;
      font-family: 'Nova Cut', Times, serif;

  }